@model List<Category>
@{
    ViewData["Title"] = "Kategorijas";
}

@TempData["message"]

<div class="container">
    <div class="row">
        @if (Context.Session.GetUserEmail() != null)
        {
            <div class="col-sm-12">
                <p class="text-right">
                    <a href="#" class="btn btn-default" role="button">Pievienot sludinājumu</a>
                </p>
            </div>
        }

        @foreach (Category category in Model.FindAll(c => !c.CategoryId.HasValue))
        {
            <div class="col-sm-3">
                <a asp-controller="Advertisement" asp-action="Category" asp-route-id="@category.Id" class="list-group-item active">
                    @category.Title
                </a>
                <ul class="list-group">
                    @foreach (Category subcategory in Model.FindAll(c => c.CategoryId == category.Id))
                    {
                     <li class="list-group-item"><a asp-controller="Advertisement" asp-action="Category" asp-route-id="@subcategory.Id">@subcategory.Title<span class="badge">0</span></a></li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

