@model List<Category>
@{
    ViewData["Title"] = "Kategorijas";
}

    <p class="bg-success"> @TempData["message"]</p>

<div class="container">
    <div class="row">
        @if (Context.Session.GetUserEmail() != null)
        {
            <div class="col-sm-12">
                <p class="text-right">
                    <a asp-controller="Advertisement" asp-action="New" class="btn btn-default" role="button">Pievienot sludinājumu</a>
                </p>
            </div>
        }

        @foreach (Category category in Model.FindAll(c => !c.CategoryId.HasValue))
        {
            <div class="col-sm-3">
                <a asp-controller="Advertisement" asp-action="Category" asp-route-id="@category.Id" class="list-group-item active">
                    @category.Title
                </a>
                <div class="list-group">
                    @foreach (Category subcategory in Model.FindAll(c => c.CategoryId == category.Id))
                    {
                     <a class="list-group-item" asp-controller="Advertisement" asp-action="Category" asp-route-id="@subcategory.Id">@subcategory.Title<span class="badge">@subcategory.AdvertisementCount</span></a>
                    }
                </div>
            </div>
        }
    </div>
</div>

